apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java-devops
  template:
    metadata:
      labels:
        app: java-devops
    spec:
      containers:
      - name: java-app
        image: mohakkataria007/java-devops:IMAGE_TAG  # Updated by Jenkins
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: "/"
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: java-service
spec:
  selector:
    app: java-devops
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer
